@media screen and(max-width:768px) {
    .header{
        &__close{
            display: initial;
        }
        &__hamburger{
            display: initial;
        }
        &__hamburger{
            border: none;
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 36px;
            height: 36px;
        }
        &__close{
            border: none;
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 36px;
            height: 36px;
        }
        &__hamburger {
            background: white;
        }
        &__close {
            background: black;
        }
        &__hamburger img{
            width: 100%;
            height: 100%;
        }
        &__close img{
            width: 100%;
            height: 100%;
        }
        &__menu-list{
            position: absolute;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            list-style: none;
            background: black;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            transform: translateY(-100%);
            transition: transform 0.2s ease;
          } 
          &__menu-list:target{
            transform: translateY(0);
          }
          &__menu-list-option a {
            display: block;
            font-family: $fuente1;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;
            text-decoration: none;
            border-bottom: 1px solid black;
            padding-bottom: 0.5rem;
          }
          
          &__menu-list-option a:hover{
            border-bottom: 1px solid white;
          }
          &__menu-list-option a:focus{
            border-bottom: 1px solid white;
          }

    }
}